

@media screen and (max-width: 768px){
  .main-container{
    margin: 0 auto;
    max-width: 400px;
  }
}
@media screen and (max-width:  480px){
  .main-container{
    max-width: auto;
  }
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
#map {
  height: 200px;
  width: 100%;
}
@media screen and (max-width:  480px){
  #map {
    height: 400px;
  }
}
.table{
    width: 400px;
}
.input-text{
  width:100%;
}
