{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ restaurant.name}}| INIADランチマップ</title>
  <meta charset="utf-8" >
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
</head>
<body>
<div class="main-container">
  <a href="/" >TOP</a>
  <h1 class="text-center">{{ restaurant.name}}</h1>
  営業時間
  <div>{{ restaurant.business_hour }}</div>
  <div id="map"></div>
  <div>{{ restaurant.address }}</div>
  <div>{{ restaurant.detail }}</div>
  <a href="{%  url 'update' restaurant.id %}" >変更する</a>
</div>
<script>
var iniadluhchmap = {};
iniadluhchmap.restaurants = [
    ["{{ restaurant.name }}","{{ restaurant.address }}"],
];
window.iniadluhchmap = iniadluhchmap;
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWrg3bSYdtXKS3GKxdxnTxW5-gjTduBjc&callback=initMap">
</script>
</body>
</html>
