{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>INIADランチマップ</title>
  <meta charset="utf-8" >
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
</head>
<body>
<div class="main-container">
  <h1 class="text-center">INIAD Lunch Map</h1>
  <div id="map"></div>
  <table id="table">
  <tr>
    <td></td>
    <td></td>
    <td class="text-right">
      <a href="{% url 'create' %}" >Register</a>
    </td>
  </tr>
  {% for restaurant in restaurants %}
  <tr>
    <td>
      {{ forloop.counter }}
    </td>
    <td>
      <a href="{% url 'detail' restaurant.id %}" >
        {{ restaurant.name }}
      </a>
    </td>
    <td class="text-right">
      <a href="{% url 'update' restaurant.id %}" >
        Edit
      </a>
    </td>
  </tr>
  {% endfor %}
  </table>
</div>
<script>
var iniadluhchmap = {};
iniadluhchmap.restaurants = [
  {% for restaurant in restaurants %}
    ["{{ restaurant.name }}","{{ restaurant.address }}"],
  {% endfor %}
];
window.iniadluhchmap = iniadluhchmap;
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWrg3bSYdtXKS3GKxdxnTxW5-gjTduBjc&callback=initMap">
</script>
</body>
</html>
